# INFORMACIÓN DEL PROYECTO

### TÍTULO

***La salud mental, a exámen***

### TEMA

La salud mental y el diagnóstico de trastornos y enfermedades mentales es un asunto que, aunque ciertamente controvertido, goza de un foco y relevancia mediática considerable hoy en día. Sin embargo, la etiología de los trastornos mentales con mayor prevalencia a nivel global no es del todo clara o precisa, puesto que la psicología es una ciencia relativamente moderna. Del mismo modo con bastante frecuencia los gobiernos e instituciones encargadas de la salud mental no logran afrontar el problema con precisión puesto que tampoco está demasiado claro qué variables pueden estar interaccionando a nivel macro. Y ante toda esta confusión las cifras de suicidios parecen no dejar de creecer en ciertas regiones...

 Este proyecto tiene como objetivo estudiar qué tipo de relación existe entre determinadas características sociales y la prevalencia de los mas frecuentes trastornos mentales, para elaborar, en base a esto, algunas conclusiones que puedan esclarecer la visión popular.

### HIPÓTESIS

Define aquí lo que será la hipótesis de tu proyecto.
Deberás tener más de una, pero tu proyecto lo harás teniendo una principal hipótesis.

1. Los diagnósticos de los principales trastornos mentales aun aumentado en una proporcion significativamente más grande en la última decada que en las dos anteriores. 

   -1.1 No existe una tendencia global de diagnóstico, existen diferencias considerables entre la prevalencia de los diferentes trastornos en los distintos continentes. 

   -1.2 Los países y continentes con el índice de felicidad más bajo serán los países con datos más altos en trastornos mentales.

   -1.3 Estas proporciones entre índice de felicidad y porcentaje de trastornos mentales será relativamente estable a lo largo de las décadas.

2. Los países con tasas más altas de trastornos mentales en la última década serán también los países con los datos más altos de suicidio.  

   -2.1 Los paises con mayores tasas de muertes por suicidio en un determinado año, serán paises con un índice bajo de felicidad ese mismo año.

3. Los trastornos alimenticios estarán  más presentes en regiones europeas que en otros lugares y regiones de Africa o Asia

4. Periodos de tiempo de mayor tasa de desempleo irán en determinadas regiones irán acompañados de un incremento en los porcentajes de prevalencia de trastornos mentales.

5. Paises con tasas de prevalencia de la depresión altas serán paises con altas tasas de desempleo  

6. Los países con menos acceso a la sanidad tendrán datos más altos en prevalencia de trastornos mentales
7. En el último lustro un aumento en la fácilidad de acceso a la sanidad habrá sido acompañado de una reducción en el número de muertes por suicidio.

## OBTENCIÓN DE LOS DATOS

Los datos provienen en su totalidad de datasets encontrados en Kaggle u otras páginas facilitadoras. En el caso de los múltiples archivos csv correspondientes a cada una de los años en los que se ha registrado el índice de felicidad, tendré que unirlos y limpiarlos para obtener un único dataset.

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

Incluye aquí una vista del dataset o datasets de los que partirás para poder evaluar tu hipótesis. <br>
También incluye el origen de estos datos y su fuente.

In [2]:
import pandas as pd

Principal_disorders = pd.read_csv("Principal_disorders.csv",low_memory=False)
fuente_1 = "https://www.kaggle.com/datasets/imtkaggleteam/mental-health?select=1-+mental-illnesses-prevalence.csv"
Defunciones_suicidio = pd.read_csv("Datos suicidio.csv")
fuente_2 = "https://humanprogress.org/dataset/self-harm-deaths"
Desempleo = pd.read_csv("desempleo.csv")
fuente_3 = "https://humanprogress.org/dataset/unemployment-total-2"
Acceso_sanidad = pd.read_csv("sanidad.csv")
fuente_4 = "https://humanprogress.org/dataset/healthcare-access-and-quality-index"
indice_felicidad = pd.read_csv("World Happiness Report.csv")
fuente_5 = "https://www.kaggle.com/datasets/usamabuttar/world-happiness-report-2005-present"

Muestra mediante un head() los principales datasets con los que vas a trabajar

In [14]:
# Primer dataset
Principal_disorders.head(28)

,index,Entity,Code,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%)
0,0,Afghanistan,AFG,1990,0.16056,0.697779,0.101855,4.828830,1.677082,4.071831,0.672404
1,1,Afghanistan,AFG,1991,0.160312,0.697961,0.099313,4.829740,1.684746,4.079531,0.671768
2,2,Afghanistan,AFG,1992,0.160135,0.698107,0.096692,4.831108,1.694334,4.088358,0.670644
3,3,Afghanistan,AFG,1993,0.160037,0.698257,0.094336,4.830864,1.705320,4.096190,0.669738
4,4,Afghanistan,AFG,1994,0.160022,0.698469,0.092439,4.829423,1.716069,4.099582,0.669260
5,5,Afghanistan,AFG,1995,0.160076,0.698695,0.09098,4.828337,1.728112,4.104207,0.668746
6,6,Afghanistan,AFG,1996,0.160249,0.698914,0.089709,4.828083,1.737643,4.107500,0.667727
7,7,Afghanistan,AFG,1997,0.160554,0.699127,0.088372,4.827726,1.746891,4.110834,0.666220
8,8,Afghanistan,AFG,1998,0.160931,0.699372,0.08733,4.826971,1.756963,4.114438,0.664676
9,9,Afghanistan,AFG,1999,0.161311,0.699674,0.086267,4.826413,1.770791,4.117633,0.663428
10,10,Afghanistan,AFG,2000,0.161621,0.700015,0.086021,4.827047,1.788395,4.118610,0.662479
11,11,Afghanistan,AFG,2001,0.161957,0.700499,0.086517,4.831409,1.839123,4.121381,0.661158
12,12,Afghanistan,AFG,2002,0.162414,0.701141,0.087023,4.838318,1.934326,4.124928,0.659213
13,13,Afghanistan,AFG,2003,0.162916,0.70186,0.087189,4.845538,2.051106,4.125230,0.657354
14,14,Afghanistan,AFG,2004,0.163377,0.702556,0.088158,4.851512,2.163044,4.126384,0.656132
15,15,Afghanistan,AFG,2005,0.163706,0.703078,0.088933,4.854684,2.247443,4.126908,0.655686
16,16,Afghanistan,AFG,2006,0.163977,0.703517,0.090054,4.856685,2.321020,4.128638,0.656297
17,17,Afghanistan,AFG,2007,0.164302,0.703998,0.091688,4.858861,2.405564,4.129728,0.657709
18,18,Afghanistan,AFG,2008,0.164639,0.70448,0.093589,4.860437,2.483862,4.129656,0.659501
19,19,Afghanistan,AFG,2009,0.164932,0.704925,0.095166,4.861533,2.543884,4.129972,0.661185
20,20,Afghanistan,AFG,2010,0.16513,0.705313,0.097327,4.862777,2.571349,4.130874,0.662062
21,21,Afghanistan,AFG,2011,0.165272,0.705688,0.098638,4.864773,2.573170,4.130862,0.662254
22,22,Afghanistan,AFG,2012,0.165424,0.706086,0.099891,4.867283,2.576189,4.132485,0.662372
23,23,Afghanistan,AFG,2013,0.165579,0.706471,0.101291,4.869701,2.572396,4.134661,0.662433
24,24,Afghanistan,AFG,2014,0.165742,0.706876,0.103137,4.872256,2.562885,4.133526,0.662447
25,25,Afghanistan,AFG,2015,0.165895,0.707275,0.104445,4.875201,2.543144,4.135419,0.662276
26,26,Afghanistan,AFG,2016,0.166035,0.707686,0.105808,4.878875,2.513553,4.135694,0.661850
27,27,Afghanistan,AFG,2017,0.166158,0.708089,0.107142,4.882481,2.473934,4.136347,0.661217

In [7]:
# Segundo dataset
Defunciones_suicidio.head()

,country_name,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 29
0,United States,13.478,13.426,13.242,13.499,13.434,13.384,13.071,12.812,12.553,...,13.746,13.688,13.960,14.055,14.148,14.342,14.664,15.013,15.023,NaN
1,Japan,19.077,19.005,19.183,19.260,19.206,19.924,20.155,20.995,23.392,...,25.245,25.011,24.806,23.826,23.315,22.864,22.202,22.306,22.451,NaN
2,India,18.364,18.496,18.601,18.070,17.743,17.488,17.152,17.714,17.898,...,16.424,16.709,16.941,16.508,16.011,15.750,15.171,15.299,15.274,NaN
3,France,25.802,25.580,25.383,25.446,24.792,24.329,24.042,23.587,23.431,...,20.000,19.918,19.542,18.862,18.309,17.584,17.420,16.918,16.842,NaN
4,China,19.150,19.538,20.062,20.196,20.055,19.865,19.093,18.126,17.091,...,10.037,9.891,9.516,9.237,9.022,9.091,9.144,9.098,9.104,NaN

In [8]:
# Tercer dataset
Desempleo.head()

,country_name,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 33
0,United States,6.800,7.500,6.900,6.119,5.650,5.451,5.000,4.511,4.219,...,6.168,5.280,4.869,4.355,3.896,3.669,8.055,5.349,3.650,NaN
1,Japan,2.059,2.158,2.539,2.890,3.150,3.383,3.374,4.078,4.677,...,3.589,3.385,3.132,2.822,2.467,2.351,2.809,2.828,2.600,NaN
2,India,6.850,6.853,6.859,6.828,6.990,7.147,7.335,7.517,7.682,...,7.992,7.894,7.800,7.723,7.652,6.510,7.859,6.380,4.822,NaN
3,France,9.134,10.203,11.321,12.593,11.834,12.367,12.566,12.074,11.981,...,10.273,10.354,10.057,9.410,9.018,8.415,8.010,7.874,7.308,NaN
4,China,2.370,2.370,2.690,2.900,3.000,3.120,3.230,3.240,3.250,...,4.630,4.650,4.560,4.470,4.310,4.560,5.000,4.550,4.980,NaN

In [9]:
# Cuarto dataset
Acceso_sanidad.head()

,country_name,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 27
0,United States,73.7,74.160*,74.620*,75.080*,75.540*,76.0,76.360*,76.720*,77.080*,...,79.480*,79.820*,80.160*,80.5,80.660*,80.820*,80.980*,81.140*,81.3,NaN
1,Japan,78.3,78.780*,79.260*,79.740*,80.220*,80.7,81.140*,81.580*,82.020*,...,86.480*,86.920*,87.360*,87.8,88.040*,88.280*,88.520*,88.760*,89.0,NaN
2,India,30.7,31.180*,31.660*,32.140*,32.620*,33.1,33.540*,33.980*,34.420*,...,39.400*,40.000*,40.600*,41.2,41.920*,42.640*,43.360*,44.080*,44.8,NaN
3,France,74.3,74.940*,75.580*,76.220*,76.860*,77.5,78.060*,78.620*,79.180*,...,84.800*,85.100*,85.400*,85.7,86.140*,86.580*,87.020*,87.460*,87.9,NaN
4,China,49.5,50.340*,51.180*,52.020*,52.860*,53.7,54.520*,55.340*,56.160*,...,66.180*,67.420*,68.660*,69.9,70.760*,71.620*,72.480*,73.340*,74.2,NaN

In [10]:
# Quinto dataset 
indice_felicidad.head()

,Country Name,Regional Indicator,Year,Life Ladder,Log GDP Per Capita,Social Support,Healthy Life Expectancy At Birth,Freedom To Make Life Choices,Generosity,Perceptions Of Corruption,Positive Affect,Negative Affect,Confidence In National Government
0,Afghanistan,South Asia,2008,3.723590,7.350416,0.450662,50.500000,0.718114,0.167652,0.881686,0.414297,0.258195,0.612072
1,Afghanistan,South Asia,2009,4.401778,7.508646,0.552308,50.799999,0.678896,0.190809,0.850035,0.481421,0.237092,0.611545
2,Afghanistan,South Asia,2010,4.758381,7.613900,0.539075,51.099998,0.600127,0.121316,0.706766,0.516907,0.275324,0.299357
3,Afghanistan,South Asia,2011,3.831719,7.581259,0.521104,51.400002,0.495901,0.163571,0.731109,0.479835,0.267175,0.307386
4,Afghanistan,South Asia,2012,3.782938,7.660506,0.520637,51.700001,0.530935,0.237588,0.775620,0.613513,0.267919,0.435440